@font-face {
  font-family: "iconfont"; /* Project id 3172597 */
  src: url('iconfont.woff2?t=1644819849489') format('woff2'),
       url('iconfont.woff?t=1644819849489') format('woff'),
       url('iconfont.ttf?t=1644819849489') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen-shrink:before {
  content: "\e676";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-zhiwu:before {
  content: "\e600";
}

.icon-phone:before {
  content: "\e652";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-name:before {
  content: "\e60b";
}

.icon-adress:before {
  content: "\e601";
}

.icon-name1:before {
  content: "\e60c";
}

.icon-setting:before {
  content: "\e63f";
}

.icon-Stocking:before {
  content: "\e6c2";
}

.icon-gerenzhongxin:before {
  content: "\e649";
}

.icon-addteam:before {
  content: "\e7ae";
}

.icon-delete:before {
  content: "\e63c";
}

.icon-guanliyuan:before {
  content: "\e68a";
}

.icon-rename:before {
  content: "\e62a";
}

.icon-Phone:before {
  content: "\e607";
}

.icon-cangkukucun:before {
  content: "\e633";
}

.icon-salecanter:before {
  content: "\e6c4";
}

.icon-jinhuoche:before {
  content: "\e604";
}

.icon-adress_icon_local:before {
  content: "\e622";
}

.icon-file-add:before {
  content: "\e66f";
}

.icon-chahuchabei:before {
  content: "\e623";
}

.icon-chukouguanli:before {
  content: "\e60f";
}

.icon-rukudan:before {
  content: "\e9fe";
}

.icon-yezi:before {
  content: "\e625";
}

